ProfileName: {{.ProfileName}}
MfaSerial: {{.MfaSerial}}
YubikeySerial: {{.YubikeySerial}}
YubikeyLabel: {{.YubikeyLabel}}
Region: {{.Region}}
SourceProfile: {{.SourceProfile}}
RoleArn: {{.RoleArn}}
DurationSeconds: {{.DurationSeconds}}
RoleSessionName: {{.RoleSessionName}}
ExternalID: {{.ExternalID}}
Checksum: {{.Checksum}}
